#dropdown-menu-2btn-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5 .nav .link,
#dropdown-menu-2btn-5 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-5 .navbar,
#dropdown-menu-2btn-5 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5 .dropdown-menu a:hover,
#dropdown-menu-2btn-5 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-5 .navbar-toggler {
  color: #000000;
}
#slider-1 P {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text {
  color: #444444;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #444444;
}
#msg-box4-13 .mbr-article P {
  font-size: 25px;
}
#contacts2-a P {
  font-size: 13px;
}
#dropdown-menu-2btn-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-14 .nav .link,
#dropdown-menu-2btn-14 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-14 .navbar,
#dropdown-menu-2btn-14 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-14 .dropdown-menu a:hover,
#dropdown-menu-2btn-14 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-14 .navbar-toggler {
  color: #000000;
}
#msg-box4-17 .mbr-header__text {
  color: #27aae0;
}
#msg-box4-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-17 .mbr-article {
  color: #444444;
}
#contacts2-15 P {
  font-size: 13px;
}
#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #000000;
}
#msg-box4-o .mbr-header__text {
  color: #ffffff;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #444444;
}
#contacts2-j P {
  font-size: 13px;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #000000;
}
#content1-h P {
  text-align: left;
}
#contacts2-e P {
  font-size: 13px;
}
#dropdown-menu-2btn-1c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1c .nav .link,
#dropdown-menu-2btn-1c .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1c .navbar,
#dropdown-menu-2btn-1c .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1c .dropdown-menu a:hover,
#dropdown-menu-2btn-1c .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1c .navbar-toggler {
  color: #000000;
}
#contacts2-1d P {
  font-size: 13px;
}
#dropdown-menu-2btn-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1f .nav .link,
#dropdown-menu-2btn-1f .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1f .navbar,
#dropdown-menu-2btn-1f .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1f .dropdown-menu a:hover,
#dropdown-menu-2btn-1f .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1f .navbar-toggler {
  color: #000000;
}
#contacts2-1g P {
  font-size: 13px;
}
#dropdown-menu-2btn-1i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1i .nav .link,
#dropdown-menu-2btn-1i .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1i .navbar,
#dropdown-menu-2btn-1i .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1i .dropdown-menu a:hover,
#dropdown-menu-2btn-1i .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1i .navbar-toggler {
  color: #000000;
}
#contacts2-1j P {
  font-size: 13px;
}
#dropdown-menu-2btn-1l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1l .nav .link,
#dropdown-menu-2btn-1l .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1l .navbar,
#dropdown-menu-2btn-1l .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1l .dropdown-menu a:hover,
#dropdown-menu-2btn-1l .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1l .navbar-toggler {
  color: #000000;
}
#contacts2-1m P {
  font-size: 13px;
}
#dropdown-menu-2btn-1z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1z .nav .link,
#dropdown-menu-2btn-1z .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1z .navbar,
#dropdown-menu-2btn-1z .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-1z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1z .dropdown-menu a:hover,
#dropdown-menu-2btn-1z .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-1z .navbar-toggler {
  color: #000000;
}
#header3-20 H3 {
  font-size: 22px;
}
#contacts2-22 P {
  font-size: 13px;
}
